$primary-color:#444;

$secondary-color:#eece1a;

$third-color:rgb(13, 46, 13);

$show-home-image:true;

$home-image:url(../img/background.png);

$background-opacity:0.1;

@mixin easeOut{
    transition:all 0.5s ease-out;

}


@mixin background{
   @if $show-home-image {

      &#bg-image{
          background:$home-image;
          background-attachment:fixed;
          background-size:cover;


          &:after{
          content:'';
          position: absolute;
          top:0;
          right:0;
          width:100%;
          height:100%;
          z-index:-1;
          background: rgba(#90EE90,$background-opacity);
        }
      }

      
   }
}